<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>用户注册</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container-fluid mt-3">
    <h2 class="mb-4">用户注册</h2>
    <form class="form" method="post" action="/reg">
      <div class="mb-2">
        <label for="exampleFormControlInput1" class="form-label">用户名</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="username" placeholder="">
      </div>
      <div class="mb-2">
        <label for="exampleFormControlInput2" class="form-label">密码</label>
        <input type="password" class="form-control" id="exampleFormControlInput2" name="password" placeholder="">
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">注册</button>
      </div>
    </form>
  </div>
</body>
</html>